@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'primeicons/primeicons.css';
@import '@/style/prime.scss';
@import '@/style/helpers.scss';
@import '@/style/variables.scss';

body {
  @apply dark:bg-gray-800 dark:text-white;
}

:root {
  --vh: 100%;
}

@supports (height: 100dvh) {
  .full-height {
    height: 90dvh;
  }
}

.full-height {
  height: calc(var(--vh, 1vh) * 90);
}
